@model IEnumerable<CongNghePhanMemTienTien.Models.KhoaModal>
<style>
    #tbkhoaCNTT th, #tbkhoaCNTT td {
        text-align: left !important;
    }
</style>
<table class="table table-condensed" id="tbkhoaCNTT">
    <thead>
        <tr>
            <th align="left">
                TÊN KHOA
            </th>
            <th align="left">
                #
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td align="left">
                    <a href="/sinhvienthuctaps/ExportSVF?id=@item.ID" class="btn btn-warning" title="Xuất danh sách sinh viên thực tập theo khoa"><i class="fa fa-upload"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>